* {
  box-sizing: border-box;
}

body {
  font-family: $roboto;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

// main App / container
// Makes use of CSS Grid
.App {
  position: relative;
  display: grid;
  grid-template-columns: calc(100% - 300px) 300px;
  grid-template-rows: 65px 120px minmax(200px, 350px) minmax(120px, calc(100% - 535px));
  grid-template-areas:
    'header sparklines'
    'timeline sparklines'
    'detailchart sparklines'
    'legend sparklines';

  .grid-area {
    padding: 10px;
    border: 1px solid $light-grey;
  }

  .grid-area.header {
    grid-area: header;
  }

  .grid-area.sparklines {
    grid-area: sparklines;
  }

  .grid-area.entity-selectors {
    grid-area: entityselectors;
  }

  .grid-area.detailchart {
    grid-area: detailchart;
  }

  .grid-area.timeline {
    padding: 0;
    grid-area: timeline;
  }

  .grid-area.legend {
    grid-area: legend;
  }
}

// remove margins on h1 - h6
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 1rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin: 0;
}

// map options ul .filter-lists
.filter-list {
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: $padding-10;

  li {
    padding: 0;
    margin: 0;
  }
}

// ruled lines
hr {
  border-top-color: $hr-border;
  margin: 0;
  padding: 0;
}
