* {
  box-sizing: border-box;
}

body {
  font-family: $roboto;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

// remove margins on h1 - h6
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 1rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin: 0;
}

button {
  height: 25px;
  line-height: 25px;
  background-color: #fffad5;
  border-color: transparent;
  color: #17838f;
  padding: 0 10px;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
}

// UI containers
.ui {
  // position: absolute;
  // z-index: 1;
  box-sizing: border-box;
  background-color: $ui-grey;
  color: $off-white;
  padding: $padding-10 0 $padding-5 $padding-10;
}

// chart options ul .filter-lists
.filter-list {
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: $padding-10;

  li {
    padding: 0;
    margin: 0;
  }
}

// ruled lines
hr {
  border-top-color: #333;
  // border-top-color: $hr-border;
  margin: 0;
  padding: 0;
}
