// Colors (in addition to colors in skeleton/base/variables)
//––––––––––––––––––––––––––––––––––––––––––––––––––

// color values for crash point data
$yellow-orange: #fecc5c !default;
$orange: #fd8d3c !default;
$orange-red: #f03b20 !default;
$red: #bd0026 !default;

$ui-teal: #d2eaec !default;
$ui-text-teal: #d2eaec !default;
$ui-text-grey: #ddd !default;

// primary and secondary entity colors
$entity-primary: $primary-color !default; // shared JS value from styleVars.js
$entity-secondary: $secondary-color !default; // shared JS value from styleVars.js
$entity-citywide: #999 !default;

// possible UI color values
$marine: #105b63 !default;
$marine-light: lighten($marine, 10) !default;

$off-white: #fffad5 !default;
$grey: #4d4d4d !default;
$grey-light: #989898 !default;
$medium-grey: lighten($dark-grey, 50) !default;
$bg-grey: #f5f5f3 !default;
$ui-grey: rgba($grey, 0.8) !default;
$transparent: rgba(0, 0, 0, 0) !default;
$tooltip-grey: rgba(51, 51, 51, 0.7) !default; // #333 with a transparency

$btn-hover: lighten($yellow-orange, 10) !default;
$btn-active: $yellow-orange !default;
$btn-bg: $off-white !default;
$btn-color: $marine-light !default;
$btn-color-active: $marine !default;

$hr-border: $off-white !default;
$border-radius: 4px !default;

// Additional Breakpoints
//––––––––––––––––––––––––––––––––––––––––––––––––––
$bp-narrow-width: "max-width: 1000px" !default;

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
$roboto: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

%roboto-regular {
  font-family: $roboto;
  font-weight: 400;
}

%roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

%roboto-bold {
  font-family: $roboto;
  font-weight: 700;
}

// margins
$margin-25: 25px !default;
$margin-10: 10px !default;
$margin-5: 5px !default;

// padding
$padding-25: 25px !default;
$padding-15: 15px !default;
$padding-10: 10px !default;
$padding-5: 5px !default;

// Main Component Dimensions
//––––––––––––––––––––––––––––––––––––––––––––––––––
$header-height: 55px !default;
$header-width: auto !default;
$header-title-width: 245px !default;

$select-areas-controls-height: 45px !default;
$select-areas-list-height: calc(100% - #{$select-areas-controls-height});

$timeline-height: 100px !default;

$legend-height: 65px !default;

$line-chart-container-height: calc(100% - #{$header-height} - #{$timeline-height} - #{$legend-height});

$options-filters-height: 100% !default;
$options-filters-width: #{$app-column-right}px !default; // imported via styleVars.json

$toggle-width: 130px !default; // width of the trend & compare toggle

$entity-selections-width: calc(100% - #{$toggle-width});
