// main App / container
// first, styles for browsers that don't support CSS Grid (e.g. IE)
.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: $grey;
  opacity: 0.8;

  .grid-left,
  .grid-right {
    display: inline-block;
    vertical-align: top;
  }

  .grid-left {
    width: calc(100% - #{$options-filters-width});
    height: 100%;
  }

  .grid-right {
    width: $options-filters-width;
    height: 100%;
    padding: 10px 0 10px 20px;
    border-left: 2px solid $grey-light;
  }

  .header,
  .timeline,
  .legend {
    padding: 10px 20px;
    border-bottom: 2px solid $grey-light;
  }

  .header {
    height: $header-height;
  }

  .timeline {
    height: $timeline-height;
  }

  .detailchart {
    height: $line-chart-container-height;
  }

  .legend {
    height: $legend-height;
    border-top: 2px solid $grey-light;
    border-bottom: none;
  }
}

// the following code will be used only if a browser recognizes @supports and actually supports CSS Grid
@supports (display: grid) {
  .App {
    position: relative;
    display: grid;
    grid-template-columns: calc(100% - #{$options-filters-width}) $options-filters-width;
    grid-template-rows: 100%;
    grid-template-areas: 'grid-left' 'grid-right';
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: $grey-light;

    .grid-left,
    .grid-right {
      background-color: $ui-grey;
    }

    // reset non-cssgrid layout
    .grid-left {
      width: 100%;
      height: 100%;
    }

    .grid-right {
      border-left: none;
    }
  }
}
