.DotGridSums {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #ddd;

  &:last-child {
    padding-right: 0;
    padding-left: 10px;
  }

  h6 {
    width: 50%;
    display: inline-block;
  }

  h6:first-child {
    padding-left: 45px;
  }

  h6 span.DotGridPercent {
    text-transform: none;
  }
}
