.DotGridChart {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }

  h6 {
    text-transform: capitalize;
    padding: 0;

    &.period,
    &.date-range {
      text-transform: uppercase;
    }
  }

  svg {
    margin-top: 10px;
  }
}
