.DotGridChart {
  width: 100%;
  height: 100%;

  h6 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;

    &.period,
    &.date-range {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  svg {
    margin-top: 10px;
  }
}
