.DotGridChartsContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .dot-grid-row {
    padding-right: 20px;
    padding-left: 20px;
  }

  h5 {
    text-transform: capitalize;
    padding: 20px 20px 0;
    color: $ui-text-grey;

    &.select-entity {
      text-align: center;
    }
  }
}
