.EntitySelector {
  // note: width is set by EntitySelections.jsx
  height: auto;
  padding: 5px;
  margin-right: 10px;

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .color-key,
  h6,
  button.deselect {
    margin: 0 5px;
  }

  .color-key {
    display: inline-block;
    width: 15px;
    background-color: #eee;

    &.line {
      height: 3px;
    }

    &.square {
      height: 15px;
    }
  }

  h6 {
    height: auto;
    display: inline-block;
    flex-grow: 2;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
  }

  button.deselect {
    height: 1.8rem;
    padding: 0 4px;
    border: 0;
    vertical-align: middle;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
