.EntitySelector {
  width: auto;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #eee;

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .color-key,
  h6,
  button.deselect {
    margin: 0 5px;
  }

  .color-key {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #eee;
  }

  h6 {
    height: auto;
    display: inline-block;
    flex-grow: 2;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
  }

  button.deselect {
    height: 2.5rem;
    padding: 0 5px;
    border: 0;
    vertical-align: middle;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: normal;
  }
}
