.FilterByBoundary {
  color: $marine-light;

  select {
    color: $marine-light;
    background-color: $off-white;
    text-align: left;
    letter-spacing: 0.5px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 11px;
    height: 25px;
  }
}
