.LineChart {
  vertical-align: middle;
  width: 100%;
  height: calc(100% - 45px);

  &:nth-of-type(2n) {
    margin-left: 10px;
  }

  .line,
  .line-citywide {
    fill: none;
    stroke-width: 2px;
  }

  .grid {
    line {
      stroke: $light-grey;
      stroke-opacity: 0.5;
      shape-rendering: crispEdges;
    }

    path {
      stroke-width: 0;
    }
  }

  .axis {
    path,
    line {
      stroke: $light-grey;
    }

    text {
      fill: $light-grey;
    }
  }
}
