.LineChart {
  display: inline-block;
  vertical-align: middle;
  width: calc(50% - 5px);
  height: 100%;

  .line {
    fill: none;
    stroke-width: 1.5px;
  }

  &:nth-of-type(2n) {
    margin-left: 10px;
  }
}
