.LineChart {
  width: 100%;
  height: calc(100% - 45px);
  position: relative;
  vertical-align: middle;

  &:nth-of-type(2n) {
    margin-left: 10px;
  }

  .line,
  .line-citywide {
    fill: none;
    stroke-width: 2px;
  }

  .grid {
    line {
      stroke: $light-grey;
      stroke-opacity: 0.5;
      shape-rendering: crispEdges;
    }

    path {
      stroke-width: 0;
    }
  }

  .axis {
    path,
    line {
      stroke: $light-grey;
    }

    text {
      fill: $light-grey;
    }
  }

  .tooltip {
    visibility: hidden;
    pointer-events: none;

    rect {
      fill: $tooltip-grey;
      width: #{$linechart-tooltip-w}px;
      height: #{$linechart-tooltip-h}px;
    }

    text {
      font-family: $roboto;
      font-size: 1.2rem;
      fill: $off-white;
      text-transform: capitalize;
    }
  }

  line.tooltip-line {
    stroke-width: 2px;
    stroke: $tooltip-grey;
    visibility: hidden;
    pointer-events: none;
  }
}
