.LoadingMsg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('../assets/icons/spinner.gif');
    margin-right: 10px;
  }
}
