.PieChartsContainer {
  width: 100%;
  height: 100%;

  h6 {
    padding: 0;
    margin: 0;
  }

  .period-one,
  .period-two {
    width: calc(50% - 10px);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .period-one {
    margin-left: 20px;
  }

  .primary-container,
  .secondary-container {
    width: 100%;
    height: 50%;
  }

  .primary-container {
    border-bottom: 1px solid $medium-grey;
    padding-bottom: 10px;
  }

  .secondary-container {
    padding-top: 10px;
  }

  .title-labels,
  .charts {
    height: 100%;
    vertical-align: middle;
  }

  .title-labels {
    position: relative;
    width: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .charts {
    display: inline-block;
    width: calc(100% - 100px);
  }
}
