.PieChart {
  display: inline-block;
  margin: 10px;

  .title,
  p {
    text-align: center;
  }

  .title {
    padding-bottom: 10px;
  }

  p {
    padding: 0;
  }

  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }
}
