
.PieChartWrapper {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 5px;

  & > div {
    margin-right: 50px;
  }

  .barChart {
    margin-left: 5px;
  }
}
