.ReferenceEntitySelect {
  display: inline-block;

  p,
  select {
    display: inline-block;
  }

  p {
    margin-right: 10px;
  }

  select {
    color: $marine-light;
    background-color: $off-white;
  }
}
