.ReferenceEntitySelect {
  display: inline-block;

  label,
  select {
    display: inline-block;
  }

  label {
    margin-right: 10px;
    text-transform: uppercase;
  }

  select {
    color: $marine-light;
    background-color: $off-white;
    text-align: left;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 11px;
  }
}
