.SelectAreasList {
  width: 100%;
  height: $select-areas-list-height;
  margin-bottom: 0;
  padding-bottom: 25px;

  .select-areas-list-item {
    display: block;
    padding: 5px 5px 5px 10px;
    margin: 0 10px 5px 0;
    border-radius: $border-radius;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }

    h6 {
      text-transform: capitalize;
      font-size: 1.2rem;
    }

    &:hover {
      color: $marine-light;
      background-color: $btn-hover;
    }

    &.primary-active,
    &.secondary-active {
      color: $marine;
      background-color: $yellow-orange;
    }
  }
}
