.SelectAreasController {
  height: 100%;

  .select-areas-controls {
    height: $select-areas-controls-height;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
    height: 25px;
    color: $marine-light;
    font-size: $input-font-size;
    background: $off-white;
  }
}
