.SparkLineListController {
  height: 100%;

  .sparkline-controls {
    height: $sparkline-controls-height;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
    height: 25px;
  }

  button {
    width: calc(50% - 5px);
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
