.SparkLineList {
  width: 100%;
  height: $sparkline-list-height;
  margin-bottom: 0;
  padding-bottom: 25px;

  .sparkline-list-item {
    display: block;
    padding: 0 5px 5px 10px;
    margin-right: 10px;
    border-bottom: 1px solid $medium-grey;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }

    h6 {
      text-transform: capitalize;
    }

    &:hover {
      border: 3px solid yellow;
    }

    &.primary-active {
      border: 3px solid $entity-primary;
    }

    &.secondary-active {
      border: 3px solid $entity-secondary;
    }
  }
}
