.TimeLine {
  height: 100%;

  .title {
    padding: 10px 0;
    margin: 0;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  .axis {
    text {
      font: 11px sans-serif;
      fill: $light-grey;
    }

    path {
      display: none;
      fill: none;
    }

    line {
      fill: none;
      stroke: $ui-grey;
      shape-rendering: crispEdges;
    }
  }

  .grid-background {
    fill: #ddd;
  }

  .grid {
    line,
    path {
      fill: none;
      stroke: $ui-grey;
      shape-rendering: crispEdges;
    }

    .tick line {
      stroke: $ui-grey;
    }

    .minor.tick line {
      stroke-opacity: .5;
    }
  }

  .brush {
    .extent {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }

    .brush-label {
      font-size: 1.3rem;
      font-weight: bold;
      fill: $marine;
      text-transform: uppercase;
    }
  }
}
